




# rabbitmq configs
RabbitMq__HostName=
RabbitMq__Port=
RabbitMq__VirtualHost=
RabbitMq__UserName=
RabbitMq__Password=
RabbitMq__SubmissionQueue=



# db connection string
ConnectionStrings__DefaultConnection=

# trainee directory configs
TraineeDirectoryApi__Url=