

# jwt configs
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=
Jwt__ExpiryMinutes=

# db connection string
ConnectionStrings__DefaultConnection=

# default admin user configs
AdminUser__Username=
AdminUser__Password=
AdminUser__Email=

# file storage configs
FileStorage__RootPath=
FileStorage__MaxFileSizeBytes=


# redis configs
Redis__ConnectionString=
Redis__InstanceName=
Redis__DefaultItlSeconds=

# rabbitmq configs
RabbitMq__HostName=
RabbitMq__Port=
RabbitMq__VirtualHost=
RabbitMq__UserName=
RabbitMq__Password=
RabbitMq__SubmissionQueue=
RabbitMq__DlxName=
RabbitMq__DlqName=
RabbitMq__RoutingKey=
RabbitMq__MaxRetryAttempts=

# Healthchecks config
Healthchecks__TrainingDirectoryHealthUrl=
